{% extends "base_manager.html" %}
{% block content %}
    <div class="info-panel" id="tablecontainer">
        <form style="margin-bottom: 10px" action="{% url 'curriculum_search' %}" method="get" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索课程" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            <a href="/curriculum/" class="btn btn-secondary" style="border-color: #6c757d;" type="submit">取消</a>
        </form>
        <table border="1" class="table table-striped table-bordered table-hover"
               style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr style="text-align: center">
                    <td>课程编号</td>
                    <td>课程名</td>
                    <td>老师编号</td>
                    <td>老师名</td>
                    <td>老师性别</td>
                    <td>老师出生年月</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                {% for curr in curriculums %}
                    <tr style="text-align: center">
                        <td>{{ curr.id }}</td>
                        <td>{{ curr.name }}</td>
                        <td>{{ curr.teacher_id.id }}</td>
                        <td>{{ curr.teacher_id.name }}</td>
                        <td>{{ curr.teacher_id.sex }}</td>
                        <td>{{ curr.teacher_id.birth_day }}</td>
                        <td style="cursor: pointer">
                            <a style="background-color: #007bff;border-color: #007bff;" class="btn btn-primary"
                                href="{% url 'change_curriculum_info' curr.id %}">修改课程</a>
                            <button class="btn btn-danger" style="border-color: #6c757d;" href="javascript:void(0);"
                                onclick="deleteCurriculum({{ curr.id }})">删除</button>
                        </td>
                    </tr>
                {% endfor %}
                <a type="button" class="btn btn-primary" data-toggle="modal" href="/add_curriculum/" style="margin-bottom: 5px;background-color: #007bff;border-color: #007bff;">
                    添加课程
                </a>
            </tbody>
        </table>
    </div>
{% endblock %}
